<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div class="container">
      <h1>Image upload using Cloudinary in SpringBoot</h1>
      <div>
          <a href="/add">Add an actor</a>
      </div>
      <div th:each="actor:${actors}">
          <div th:if="${actor.headshot}!=null">
              <img th:src="${actor.headshot}"/>

          </div>
          <h3 th:text="${actor.name}"></h3>
          <h4 th:text="${actor.realName}"></h4>
          <hr/>
      </div>

  </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</body>
</html>